Django~=5.0.6
PyPAC~=0.16.4
PyYAML~=6.0.1
chardet~=5.2.0
colorama~=0.4.6
dnspython~=2.6.1
matplotlib~=3.9.0
numpy~=1.26.4
pillow~=10.3.0
pyinstaller~=6.7.0
requests~=2.32.3
urllib3~=2.2.1
# manually added:
pywin32-ctypes~=0.2.2
asgiref~=3.8.1
idna~=3.7
certifi~=2024.6.2
python-whois~=0.9.4
packaging~=24.0
cycler~=0.12.1
kiwisolver~=1.4.5
dukpy~=0.3.1
tldextract~=5.1.2
pefile~=2023.2.7
altgraph~=0.17.4
sqlparse~=0.5.0
