{% extends 'base.html' %}

{% block title %}
    Filter {{ version }} - Rapport de conformité
{% endblock title %}

{% block head %}
    <style>
        .table-informations, .table-summary, .table-tests {
            width: auto;
        }
        .compliant.text, .compliant.text, .compliant.text, .compliant.value, .compliant.value, .compliant.value {
            color: green;
        }
        .error.text, .error.value {
            color: orange;
        }
        .not-compliant.text, .too-permissive.text, .too-strict.text, .not-compliant.value, .too-permissive.value, .too-strict.value {
            color: red;
        }
        .compliant-allowed.text, .compliant-denied.text, .too-permissive.text, .too-strict.text {
            padding-left: 2em;
        }
        .compliant, .error, .not-compliant {
            font-weight: bold;
        }
        .result, .expected-result, .compliance {
            white-space: nowrap;
        }
        .value {
            text-align: right;
        }
        .pie > svg {
            height: 19em;
        }
    </style>
{% endblock head %}

{% block content %}
    <h1>Rapport de conformité de la mise en œuvre de la politique académique de filtrage en EPLE</h1>
    <h2>Informations</h2>
    <table class="table table-informations table-hover">
        <thead></thead>
        <tbody>
            <tr>
                <td>Version</td>
                <td>{{ version }}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{ date }}</td>
            </tr>
            <tr>
                <td>Nom de la machine</td>
                <td>{{ controller.hostname }}</td>
            </tr>
            <tr>
                <td>Adresse IP privée</td>
                <td>{{ controller.private_ip }}</td>
            </tr>
            <tr>
                <td>Adresse IP publique</td>
                <td>{{ controller.public_ip }}{%if controller.public_hostname %} ({{ controller.public_hostname }}){% endif %}</td>
            </tr>
            <tr>
                <td>Profil utilisateur·trice</td>
                <td>{{ controller.profile }}</td>
            </tr>
            <tr>
                <td>Proxy</td>
                <td>{{ proxy_config }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Conformité à la politique académique : {{ controller.compliance_str }}</h2>
    <div class="row">
        <div class="col">
            <table class="table table-summary table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>URLs testées</th>
                        <th>{{ controller.test_nb }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-success">
                        <td class="compliant text">Conformité</td>
                        <td class="compliant value">{{ controller.compliant_nb }}</td>
                    </tr>
                    <tr class="table-success">
                        <td class="compliant allowed text">Sites autorisés</td>
                        <td class="compliant allowed value">{{ controller.compliant_allowed_nb }}</td>
                    </tr>
                    <tr class="table-success">
                        <td class="compliant-denied text">Sites interdits</td>
                        <td class="compliant-denied value">{{ controller.compliant_denied_nb }}</td>
                    </tr>
                    <tr class="table-danger">
                        <td class="not-compliant text">Non-conformité</td>
                        <td class="not-compliant value">{{ controller.not_compliant_nb }}</td>
                    </tr>
                    <tr class="table-danger">
                        <td class="too-permissive text">Non-conformité (mise en œuvre trop permissive)</td>
                        <td class="too-permissive value">{{ controller.too_permissive_nb }}</td>
                    </tr>
                    <tr class="table-danger">
                        <td class="too-strict text">Non-conformité (mise en œuvre trop stricte)</td>
                        <td class="too-strict value">{{ controller.too_strict_nb }}</td>
                    </tr>
                    <tr class="table-warning">
                        <td><span class="error text">Erreurs d'accès</span></td>
                        <td><span class="error value">{{ controller.error_nb }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col pie">
            {% autoescape off %}
                {{ controller.svg }}
            {% endautoescape %}
        </div>
    </div>
    {% if controller.not_compliant_nb %}
        <h2>Tests non conformes ({{ controller.not_compliant_nb }})</h2>
        {% with show_all_domains=False %}
            {% include 'control_domains.html' %}
        {% endwith %}
    {% endif %}
    <h2>Contrôles effectués ({{ controller.test_nb }})</h2>
    {% with show_all_domains=True %}
        {% include 'control_domains.html' %}
    {% endwith %}
{% endblock content %}
