{% extends 'base.html' %}

{% block title %}
    Filter {{ version }} - Politique de filtrage académique
{% endblock title %}

{% block head %}
    <style>
        .table-rules, .table-database {
            width: auto;
        }
        .table-database .domains, .table-database .categories {
            text-align: right;
        }
    </style>
{% endblock head %}

{% block content %}
    <h1>Politique de filtrage académique</h1>
   {% if policy.domains_number %}
        {% if policy.not_found_in_database_categories %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Catégories utilisées dans les règles non trouvées dans la base de données : {{ ', '|join_strings:policy.not_found_in_database_categories }}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
            </div>
        {% endif %}
        {% if policy.not_used_in_rules_categories %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Catégories de la base de données non utilisées dans les règles : {{ ', '|join_strings:policy.not_used_in_rules_categories }}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Aucune catégorie trouvée dans la base de données.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
        </div>
    {% endif %}
    <h2>Base de données</h2>
    <table class="table table-database">
        <tbody>
            <tr>
                <td>Catégories</td>
                <td class="categories">{{ policy.categories_number }}</td>
            </tr>
            <tr>
                <td>Domaines</td>
                <td class="domains">{{ policy.domains_number }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Règles</h2>
    <table class="table table-hover table-sm table-rules">
        <thead class="table-dark sticky-top">
            <tr>
                <th>Catégorie</th>
                <th>Domaines</th>
                <th>CLG</th>
                <th>LYC</th>
                <th>PER</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for rule in policy.rules %}
                <tr>
                    <td>{{ rule.category }}</td>
                    <td>{{ rule.domains_number }}</td>
                    <td>{% autoescape off %}{{ rule.html_auth|get_item:'clg' }}{% endautoescape %}</td>
                    <td>{% autoescape off %}{{ rule.html_auth|get_item:'lyc' }}{% endautoescape %}</td>
                    <td>{% autoescape off %}{{ rule.html_auth|get_item:'per' }}{% endautoescape %}</td>
                    <td>{{ rule.description }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><em>Par défaut</em></td>
                <td>&nbsp;</td>
                <td><i class="bi bi-check-square-fill" style="color: green"></i></td>
                <td><i class="bi bi-check-square-fill" style="color: green"></i></td>
                <td><i class="bi bi-check-square-fill" style="color: green"></i></td>
                <td><em>Tous les sites qui ne sont pas explicitement interdits sont autorisés.</em></td>
            </tr>
        </tbody>
    </table>
{% endblock content %}
